#MyChatFormulierungen{
    box-sizing: border-box;
    float: none;
    position: absolute; /*dafür muss das parent- element auf relativ stehen*/
    /* justify-content: center; */
    display: none;
    /* display: contents; */
    top: 13%;
    left: 0%;
    z-index: 10;
    background-color: lightgray;
    width: 100%;
    height: 80%;
}
#MyChatFormulierungenText1{
    /* float:unset;
    box-sizing: border-box; */
    box-sizing: border-box;
    /* border: 2px; */
    color: blue;
    position: relative;
    left: 2%;
    top: 5%;
    width: 98%;
    height: 90%;
}
.ChatFormulierungenDiv1{
    
box-sizing: border-box;
    
width: 50%;
    
height: 85%;
    
padding: 2%;
    
overflow: auto;
    
position: absolute;
}
.MyUserChatFormulierungenFrame{
    width: 90%;
}
.ChatFormulierungenDiv2{
    /* overflow: hidden; */
    box-sizing: border-box;
    width: 50%;
    height: 85%;
    padding: 2%;
    position: absolute;
    left: 50%;
}
.ChatFormulierungenDiv3{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 2%;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
textarea{
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 12vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: var(--FontSize);
}
.ChatFormulierungenText{
    box-sizing: border-box;
    width: 100%;
    /* height: 2em; */
    background: #FADCEF;
    padding: 15px;
    margin: 0em;
    border-radius: 0.5vw;
    font-size: var(--FontSize);
}
.ChatFormulierungenInfoText{
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 0.5vw;
    background: #34f1e8;
    padding: 5px;
    margin: 0em;
    border-radius: 1.5vw;
    font-size: calc(var(--FontSize)*0.9);
}
.ChatFormulierungenInfoDiv1{
text-decoration-line: underline;
    width: 60%;
}
.ChatFormulierungenInfoDiv2{
    text-align: right;
    /* width: 100%; */
    font-size: cal(var(--FontSize)*5);
}
.ChatInput{
    width: 20%;
    height: 30%;
}
.ChatFormulierungenTabel {
    box-sizing: border-box;
    position: relative;
    background-color: lightgray;
    width: 100%;
    z-index: 15;
}
/* #MyChatFormulierungenText1 > table > tr {
    width: 40%;
} */

/* h2 { */
    /* color: green; */
    /* text-align: center; */
    /* width: 50%; */
    /* left: 25%; */
    /* } */
    .ChatFormulierungenDiv3 button{
        position: absolute;
        left: 52%;
        /* top: 1%; */
        width: 10vw;
        height: 2vw;
        background-image: linear-gradient(blue, black);
        color: yellow;
    }
    
    .ChatFormulierungenDiv3 button:hover{
        background-image: linear-gradient(rgb(12, 9, 54), blue);
    }
    .ChatFormulierungenDiv3 button:before{
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    button:hover:before{
        /* https://sebhastian.com/html-hover-text/ */
        
        opacity: 1;
        visibility: visible;
    }
#ChatTextFormulierungen{
    font-size: calc(var(--FontSize)*1.5);
    height: 10vw;
}
.cMassnahmenText {
	box-sizing: border-box;
	width: 100%;
	height: 50%;
	position:relative; 
	float:left; 
	background:#C4FF0E;
	padding: 5px;	
	font-size: var(--FontSize);
	overflow-wrap: break-word;
}
.cZielZieleNummer {
	box-sizing: border-box;
	width: 10%;
	height: 100%;
	position:relative;
	float:left;
	background: #D6D8F3;
	padding: 5px;
	font-size: var(--FontSize);
}
.cZielZieleStichwort {
	box-sizing: border-box;
	width: 15%;
	height: 100%;
	position:relative;
	float:left;
	background: #D6D8F3;
	padding: 5px;
	font-size: var(--FontSize);
}
.cZielZieleBeschreibung {
	box-sizing: border-box;
	width: 75%;
	width: 70%;
	height: 100%;
	position:relative;
	float:left;
	background: #D6D8F3;
	padding: 5px;
	font-size: var(--FontSize);
	overflow-wrap: break-word;
}
.cFormulierungenText {
	box-sizing: border-box;
	width: 100%;
	height: 50%;
	position:relative; 
	float:left; 
	background:#FADCEF;
	 padding: 5px;	
	 font-size: var(--FontSize);
	 overflow-wrap: break-word;
}
