#MyChatFormulierungen{
    box-sizing: border-box;
    float: none;
    position: absolute; /*dafür muss das parent- element auf relativ stehen*/
    /* justify-content: center; */
    display: none;
    /* display: contents; */
    top: 11%;
    left: 0%;
    z-index: 10;
    background-color: lightgray;
    width: 100%;
    height: 85%;
}
#MyChatFormulierungenText1{
    /* float:unset;
    box-sizing: border-box; */
    box-sizing: border-box;
    /* border: 2px; */
    color: blue;
    position: relative;
    left: 2%;
    top: 5%;
    width: 98%;
    height: 90%;
}
.ChatFormulierungenDiv1{
    
box-sizing: border-box;
width: 50%;
height: 90%;
padding: 2%;
}
.ChatFormulierungenDiv2{
    /* overflow: hidden; */
    box-sizing: border-box;
    width: 50%;
    height: 90%;
    padding: 2%;
}
.ChatFormulierungenDiv3{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 2%;
    top: 90%;
    /* float: left; */
}
textarea{
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 12vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: var(--FontSizeSmal);
}
.ChatFormulierungenText{
    box-sizing: border-box;
    width: 100%;
    /* height: 2em; */
    background: #FADCEF;
    padding: 15px;
    margin: 0em;
    border-radius: 0.5vw;
    font-size: calc(var(--FontSizeSmal)*3);
    /* font-size: 3vw; */
}
.ChatFormulierungenInfoText{
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 0.5vw;
    background: #34f1e8;
    padding: 5px;
    margin: 0em;
    border-radius: 1.5vw;
    font-size: var(--FontSizeSmal);
}
.ChatFormulierungenInfoDiv1{
text-decoration-line: underline;
    width: 60%;
}
.ChatFormulierungenInfoDiv2{
    text-align: right;
    width: 40%;
}
.ChatInput{
    width: 20%;
    height: 30%;
}
.ChatFormulierungenTabel {
    box-sizing: border-box;
    position: relative;
    background-color: lightgray;
    width: 100%;
}
/* #MyChatFormulierungenText1 > table > tr {
    width: 40%;
} */

/* h2 {
    color: green;
    text-align: center;
    } */
.ChatFormulierungenDiv3 button{
    position: relative;
    left: 47%;
    top: 50%;
    width: 19vw;
    height: 7vw;
    background-image: linear-gradient(blue, black);
    color: yellow;    
}

.ChatFormulierungenDiv3 button:hover{
    background-image: linear-gradient(rgb(12, 9, 54), blue);
}
.ChatFormulierungenDiv3 button:before{
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
button:hover:before{
    /* https://sebhastian.com/html-hover-text/ */
    
    opacity: 1;
    visibility: visible;
}
#ChatTextFormulierungen{
    font-size: calc(var(--FontSizeSmal)*3);
    height: 40vw;
}
.ChatFormulierungenTabel tr{
    width: 20%;
}
.ChatFormulierungenTabel td{
    /* width: 15%; */
}
.cZielZieleNummer {
    box-sizing: content-box;
    width: 15%;
    height: 100%;
    position: relative;
    float: left;
    background: #D6D8F3;
    padding: 5px;
    font-size: calc(var(--FontSizeSmal)*3);
}
.cZielZieleStichwort {
    box-sizing: content-box;
    width: 74%;
    height: 100%;
    position: relative;
    float: left;
    background: #D6D8F3;
    padding: 5px;
    font-size: calc(var(--FontSizeSmal)*3);
}
.cZielZieleBeschreibung {
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
    position: relative;
    float: left;
    background: #D6D8F3;
    padding: 5px;
    font-size: calc(var(--FontSize)*4);
    overflow-wrap: break-word;
}
.cFormulierungenText{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    position:relative;
    float:left;
    background:#FADCEF;
    padding: 5px;
    font-size: calc(var(--FontSize)*4);
    overflow-wrap: break-word;
}
.cMassnahmenText{
    box-sizing: border-box;
	width: 100%;
	height: 50%;
	position:relative; 
	float:left; 
	background:#C4FF0E;
	padding: 5px;	
	font-size: var(--FontSize);
	overflow-wrap: break-word; 
}