#ELDiBLehrercontent, #ELDiBElterncontent, #ELDiBKindcontent, #ELDiBLehrercontent_New{
    display: none;
    /* display: flex; */
    z-index: 10;
    box-sizing: border-box;
    position: absolute;
    background-color: beige;
    /* margin: 0 auto; */
    height: 90%;
    width: 100%;
    font-size: 1vw;
}
.Schuelerdaten{
    width: 34%;
    margin: 0.5%;
}

  .tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
  }
  /* # table, #ELDiBElterncontainer table, #ELDiBKindcontainer table, #ELDiBLehrercontent_New table{
    border-collapse: collapse; /* make the table borders collapse to each other */
    /* width: 100%;
  } */ 
/* #ELDiBLehrerhead, #ELDiBElternhead, #ELDiBKindhead{
    height: 30%;
} */


#ELDiBLehrercontainerTableHead, #ELDiBElterncontainerTableHead, #ELDiBKindcontainerTableHead{
    height: 2vw;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: auto;
}
#ELDiBLehrercontainer th, #ELDiBElterncontainer th, #ELDiBKindcontainer th, #ELDiBLehrercontent_New th{text-align: left;width: 65vh;}
.CreateNewTableELDiBKEL{
    position: absolute;
    left: 39%;
    top: 20%;
}
.DiagrammBox{
    position: absolute;
    left: 50%;
    top: 8.5%;
    border-style: groove;
}

.KELZielBeschreibungHead{
width: 40%;
}
.KELZielNummerHead{
width: 10%;
}
.KELZielBeschreibungHead{width: 40%;font-weight: bold;font-size: calc(var(--FontSize)*1.5);background-color: bisque;}
.KELZielNummerHead{width: 10%;font-weight: bold;font-size: calc(var(--FontSize)*1.5);background-color: bisque;}