#EmailElterncontent{
    display: none;
    z-index: 12;
    box-sizing: border-box;
    float: none;
    position: absolute;
    height: 90%;
    background-color: #d3d3d366;
    width: 100%;
}
.EmailElterncontentInside{
position: relative;
background-color: lightgray;
border-radius: 1vw;
margin: auto;
width: 39%;
height: 82%;
}
.EmailElterncontentInside h3{
    text-align: center;
    position: relative;
    top: 2vw;
}

.EmailElternTextArea{
position: relative;
width: 90%;
left: 5%;
top: 7vw;
}
.EmailElternButtonClose{
position: relative;
left: 40%;
top: 10vw;
margin-top: 1vw;
}
.EmailElternButtonSend{
position: relative;
left: 40%;
top: 10vw;
/* margin-top: 1vw; */
    }