header{
    /* display: flex; */
    justify-content: center;
    /* flex-direction: row; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.HeaderL1{
    position: relative;
    top: 50%;
}
.HeaderL2{
    position: absolute;
    width: 100%;
    height: 30%;
}
.IndexInput{
    position: relative;
    text-align: center;
    top: 54%;
}
.formError{
    margin: auto;
    padding: 7%;
}
h1{
    font-size: 6vw;
    position: absolute;
    top: -21%;
    width: 100%;
    text-align: center;
}
h2{
    font-size: 2vw;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
}
h3{
    font-size: 4vw;
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
}
#SelectSchool{
    position: relative;
    width: 76%;
    top: 40%;
    font-size: 2vw;
}
.SelectSchoolDiv{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 34%;
}
form{
    height: 50%;
    position: absolute;
    top: 21%;
    width: 100%;
    align-items: center;
    text-align: center;
}
.Passwort{
    font-size: 2vw;
    position: absolute;
    width: 100%;
    top: 101%;
    text-align: center;
}
.register{
    font-size: 2vw;
    position: absolute;
    width: 100%;
    top: 145%;
    text-align: center;
}
img{
    height: 35%;
    position: absolute;
    left: 78%;
}
input{
    height: 2vw;
    margin: 8px;
    width: 12vw;
    border-radius: 0.5vw;
}
button{
    font-size: 2vw;
    border-radius: 0.5vw;
    margin: 1%;
}
