#OperatorSelection{
    display: none;
    z-index: 12;
    position: absolute;
    background-color: aliceblue;
    height: 59%;
    width: 38%;
    left: 1%;
    top: 19%;
    padding: 1%;
    border-radius: 1vw;
}
.FormContent{
    /* background-color: azure; */
    padding: 1vw;
    font-size: calc(var(--AllFont)*1);
    height: 1vw;
}
/* input{
    border-radius: 0.4vw;
    left: 10vw;
} */
.FormContent {
    /* border-radius: 0.8vw; */
    /* height: 8%; */
    /* overflow: hidden; */
    /* height: calc(var(--FontSize)*2); */
    font-size: calc(var(--AllFont)*1);
    /* margin: 0; */
    /* padding: 1vw; */
    padding-left: 2vw;
    padding-top: 1vw;
    /* width: 80%; */
    /* text-align: center; */
}
.OperatorSelectionButtonClose{
    position: relative;
    top: 11vw;
}



