/* .root{
    --AllFont: 0.8;
    --AllFontSmal: 0.8;
    --FontSize: 0.8;
    --FontSizeSmal: 0.8;
} */
/* h1{
    text-align: center;
    font-size: 3vw;
}
h2 {
    color: green;
    text-align: center;
    font-size: 2vw;
    }
    #Auswahl{
        height: 3vw;
        font-size: 1vw;
        text-align: center;
        /* justify-content: center; */
        /* border-radius: 1vw;
    } */ 

/* .ButtonHelp{
    position: absolute;
    left: 80%;
    top: 7%;
    color: yellow;
}
.ZielStufe{
    font-weight: bold;
}
.ButtonHelp a{
    color: yellow;
} */
.BereichHead{

	box-sizing: border-box;
	width: 10%;
	position:relative; 
	float:left; 
	background: #84F58E; 
	padding: 5px; 
	border: 2px ;
	border-color: red;
	/* height: 3%; */
}
.BereichTab{

	background: #84F58E; 

}

.BereichText {
    width: 100%;
    /* height: 2em; */
    background: #84F58E;
    padding: 5px;
    margin: 0em;
    font-size: var(--FontSize);
    height: 100%;
    box-sizing: border-box;
    position: relative;
    float: left;
}

#containerBereich{

	width: 100%;
}


.HeadTable{
	position: relative;
}
.BereichHeadline{
	padding-left: 5px;
	box-sizing: border-box;
	position:absolute;
	float:left;
	width: 10%;
	margin: 0em;
	/* height: 2vw; */
	background: #84F58E;
}
.ZieleHeadline{
	box-sizing: border-box;
	position:absolute;
	float:left;
	width: 50%;
	margin: 0em;
	/* height: 2vw; */
	left: 10%;
}
#Div3Head.FormulierungenHeadline{
	/* padding-left: 5px; */
	padding-left: 5px;
	box-sizing: border-box;
	position:absolute;
	float:left;
	width: 20%;
	margin: 0em;
	/* height: 2vw; */
	left: 60%;
	background:#FADCEF;
	/* vertical-align: middle; */
}
#Div4Head.MassnahmenHeadline{
	padding-left: 5px;
	box-sizing: border-box;
	position:absolute; 
	float:left; 
	width: 20%; 
	margin: 0em; 
	/* height: 2vw; */
	left: 80%;
	background:#C4FF0E;

}
#Div1{
	box-sizing: border-box;
	position:absolute;
	float:left;
	width: 10%;
	margin: 0em;
	height: 62%;
	overflow: auto;
	overflow-x: hidden;
	top: 29%;
}
#Div2{
	
	box-sizing: border-box;
	position:absolute; 
	float:left; 
	width: 50%; 
	margin: 0em; 
	height: 62%;
	overflow: auto;
	overflow-x: hidden; 
	top: 29%;
	left: 10%;
}
#Div3{
	box-sizing: border-box;
	position:absolute; 
	float:left; 
	width: 20%; 
	margin: 0em; 
	height: 62%;
	overflow: auto;
	overflow-x: hidden; 
	top: 29%;
	left: 60%;
}
#Div4{
	box-sizing: border-box;
	position:absolute; 
	float:left; 
	width: 20%; 
	margin: 0em; 
	height: 62%;
	overflow: auto;
	overflow-x: hidden; 
	top: 29%;
	left: 80%;
}
.ZielHead {
	box-sizing: border-box;
	width: 50%;
	position: relative; 
	float:left; 
	background: #D6D8F3;
	 padding: 5px;
	 margin: 0em;
}
.ZielTab{
	background: #D6D8F3;
}
.ZielZieleStufe{
	box-sizing: border-box;
	width: 5%;
	height: 100%;
	position:relative; 
	float:left; 
	text-align: center;
	background: #D6D8F3;
	 padding: 5px;
	 font-size: var(--FontSize);	
}
.ZielZieleNummer {
	box-sizing: border-box;
	width: 10%;
	height: 100%;
	position:relative;
	float:left;
	background: #D6D8F3;
	padding: 5px;
	font-size: var(--FontSize);
}
.ZielZieleStichwort {
	box-sizing: border-box;
	width: 15%;
	height: 100%;
	position:relative;
	float:left;
	background: #D6D8F3;
	padding: 5px;
	font-size: var(--FontSize);
}
.ZielZieleBeschreibung {
	box-sizing: border-box;
	width: 75%;
	width: 70%;
	height: 100%;
	position:relative;
	float:left;
	background: #D6D8F3;
	padding: 5px;
	font-size: var(--FontSize);
	overflow-wrap: break-word;
}
.FormulierungTab {
	background: #FADCEF;
}
.FormulierungenHead{
	box-sizing: border-box;
	width: 20%;
	position:relative; 
	float:left; 
	background: #FADCEF;
	margin: 0em;
	height: 2vw;
	padding: 5px;
}
.FormulierungenText {
	box-sizing: border-box;
	width: 100%;
	height: 50%;
	position:relative; 
	float:left; 
	background:#FADCEF;
	 padding: 5px;	
	 font-size: var(--FontSize);
	 overflow-wrap: break-word;
}
.MassnahmenHead{
	box-sizing: border-box;
	position:relative; 
	float:left; 
	width: 20%; 
	background:#C4FF0E;
	margin: 0em;
	padding: 5px;
}
.MassnahmenTab{
	background:#C4FF0E;
}
.MassnahmenText {
	box-sizing: border-box;
	width: 100%;
	height: 50%;
	position:relative; 
	float:left; 
	background:#C4FF0E;
	padding: 5px;	
	font-size: var(--FontSize);
	overflow-wrap: break-word;
}







.MainContent{
    position: absolute;
    /* display: flex; */
    height: calc(var(--FontSize)*2);
    width: 100%;
    top: 25%;
    font-size: var(--FontSize);
}
#EContent{
    display: none;
    z-index: 14;
    box-sizing: border-box;
    float: none;
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: white;
}

/* .form-select{
    width: 100%;
    height: 2vw;
    font-size: 1vw;
    text-align: center;
} */
/* #SelectClient{
    font-size: 1.5vw;
    top: 19%;
} */
.TabContent{
    background-color: aqua;
    padding: 1vw;
}
.TabContent1{
    background-color: rgb(158, 158, 255);
    padding: 1vw;
}
.TabContent2{
    background-color: rgb(255, 158, 158);
    padding: 1vw;
}
.TabContent3{
    background-color: rgb(158, 255, 158);
    padding: 1vw;
}
.TabContent4{
    background-color: rgb(158, 158, 158);
    padding: 1vw;
}
.Stichwörter{
    width: 42%;
    left: 7%;
    padding: 0px;
    margin: 0px;
    font-size: calc(var(--AllFont)*1);
}
.StichwörterDesc{
    height: 2vw;
}
.ZielBeschreibung{
    width: 40%;
}
.ZielNummer{
    width: 10%;
}
.option1{
    background-color: lightgray;
}
.option2{
    background-color: gray;
}
.option3{
    background-color: black;
    color: white;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.Assessors{
    left: 40%;
    top: 10%;
    display: none;
    z-index: 12;
    box-sizing: border-box;
    float: none;
    position: absolute; /*dafür muss das parent- element auf relativ stehen*/
    height: 20%;
    background-color: lightgray;
    width: 26%;
    overflow: hidden;
}
.Assessors div{
    float: none;
}

.SelectionButton{
    height: 2vw;
    width: 10vw;
    margin: 1vw;
    background-color: chartreuse;
    border-radius: 0.5vw;
}
.ButtonBack{
    height: 2vw;
    width: 10vw;
    margin: 1vw;
    background-color: chartreuse;
    border-radius: 0.5vw;
    /* position: absolute; */
    top: 1%;
    left: 1%;
}
.ClientSelection{
    box-sizing: border-box;
    position:absolute;
    float:left;
    width: 50%;
    height: 5%;
    top: 17%;
    margin-left: 1vw;
}

 
div{
    float: none;
}
.rightSite{
    box-sizing: border-box;
    position: absolute;
    float:left;
    width: 50%;
    margin: 0;
    /* right: 50%; */
    left: 50%;
    top: 20%;
}
.tdELDiBHistory{
    background-color: #e1ffcd;
    border-style: groove;
    padding: 1vw;
}
footer
{
	box-sizing: border-box;
	position: absolute;
	/* bottom: 0%; */
	width: 100%;
	height: 10%;
	background: #F1F3F4;
	top: 90%;
	overflow: hidden;
}
.Footer1{
	padding: 0.5vw;
    position: relative;
    float: left;
    width: 80%;
}
.Footer2{
	padding: 0.5vw;
    position: relative;
    text-align: right;
    width: 0%;

}
/* styleSmal.css */
.tableFixHead {
	overflow-y: auto;
	 height: 60vh; 
	}
  
  .tableFixHead thead th {
	position: sticky;
	top: 0;
	background-color: #fff; /* Hintergrundfarbe des Tabellenkopfs */
	z-index: 1;
  }
/*	Supportplan */
#SupportPlan{
    display: none;
    z-index: 10;
    box-sizing: border-box;
    float: none;
    position: absolute;
    background-color: antiquewhite;
    height: 90%;
    width: 100%;
    margin: 0;
}
#SupportPlan div{
    float: left;
    position: relative;
    width: 100%;
    /* margin: 0; */
}
#CloseSelectSupportPlan{
    display: none;
}
#SelectSupportPlan{
    font-size: calc(var(--FontSize)*2);
}
#CloseSelectSupportPlan{
    position: absolute;
    left: 25%;
    top: -1%;
    height: 4vw;
    width: 11vw;
}